// Header Animations

@keyframes logo-drop {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#body-inicio #header {
  .image {
    path {
      fill: var(--text);
    }
    transform-origin: center;
    animation: logo-drop 1s 0s both;
  }
  @mixin show-up($delay) {
    animation: show-up .5s (.5 + .25s * $delay) both;
  }
  .section__title {       @include show-up(1); }
  .subtitle {             @include show-up(2); }
  .description p {        @include show-up(3); }
  .description .buttons { @include show-up(4); }
}
